mixin addtext()
  .add-text.content
    .add-text__col
      .add-text__col-title Впечатляющий ассортимент вкусных блюд
      p Наше меню включает:
      ul
        li классические и оригинальные виды суши с угрем, окунем, икрой тобико, лососем, тунцом, тигровой креветкой, курицей и пр.;
        li разнообразные классические роллы (рисом внутрь) и урамаки (рисом наружу), в том числе острые, запеченные, горячие;
        li аппетитные сеты для романтического ужина или вечеринки в большой компании.

      p Помимо блюд японской кухни мы с радостью приготовим для вас экзотические воки с разными начинками, ароматную пиццу, горячие и холодные супы, свежие и сытные салаты, нежные десерты.

      p Чтобы заказать суши и другие кушанья, зайдите в соответствующий раздел нашего меню. Каждый товар сопровождается фотографией, указанием состава ингредиентов, веса порции и стоимости. Кликните по плашке «Добавить в корзину» возле понравившихся суши. Скорректируйте количество порций и введите контактные данные. Наш менеджер свяжется с вами для подтверждения покупки.


    .add-text__col.add-text__col--more
      .add-text__col-title Преимущества заказа суши в «Окинаве»
      ul
        li Повара начинают готовить блюда только после вашего звонка.
        li Мы используем только отборные, свежие продукты.
        li Готовим суши по фирменной рецептуре.
        li Предлагаем приемлемую стоимость щедрых порций свежих блюд.
        li Регулярно проводим акции.
        li Гарантируем доставку с соблюдением всех технологий транспортировки, чтобы вы всегда получали свежую и теплую еду.
        li Располагаем собственным автопарком из 25 машин, что позволяет максимально оперативно развозить заказы по всему городу.
        li Покупки на сумму от 600 рублей доставляем за свой счет.
        li Возможен самовывоз из удобного для вас кафе нашей сети.

      p Мы первыми в Казани открыли службу доставки суши на дом или в офис и остаемся лидерами в этой сфере.

      p
        strong Всегда рады вашим заказам!

    .slide-trigger.slide-trigger--add-text
      span.slide-trigger--true развернуть
      span.slide-trigger--false свернуть
mixin item()
  .item
    .item-check
      +icon("checked","icon")
    a(href="#" style="background-image:url('img/card-image-1.jpg')").item__img
      .item-tag
        .item-tag__el.item-tag__el--purpur
          +icon("pizza","icon")
        .item-tag__el.item-tag__el--fire
          +icon("fire","icon")
        .item-tag__el.item-tag__el--veg
          +icon("veg","icon")
    .item__content
      .item__title-wrap
        a(href="#").item__title Пицца Вегетарианская
      .item__descr-wrap
        .item__descr Салями, колбаски охотничьи, грибы опята маринованные, томаты, корнешоны, лук красный...
        .item-ingr
          .item-ingr__text Пищевая ценность блюда, г
          .item-ingr__cont
            .item-ingr__el
              .item-ingr__el-val 190
              .item-ingr__el-name белки
            .item-ingr__el
              .item-ingr__el-val 19
              .item-ingr__el-name жиры
            .item-ingr__el
              .item-ingr__el-val 290
              .item-ingr__el-name углеводы
            .item-ingr__el
              .item-ingr__el-val 370,6
              .item-ingr__el-name ккал
      .item__footer
        .item__price 399р
        .item__weight 490г
        .item__get
          .icr-btn.item__btn купить
          .elements-icr-block.item__incr.hidden
            .incr
              .incr__minus.incr__nav
                +icon("minus","icon")
              .incr__val
                span 1
                .incr__val-coner
              .incr__plus.incr__nav
                +icon("plus","icon")

mixin item-small()
  .item.item--small
    .item-check
      +icon("checked","icon")
    a(href="#" style="background-image:url('img/card-image-1.jpg')").item__img
      .item-tag
        .item-tag__el.item-tag__el--purpur
          +icon("pizza","icon")
        .item-tag__el.item-tag__el--fire
          +icon("fire","icon")
        .item-tag__el.item-tag__el--veg
          +icon("veg","icon")
    .item__content
      .item__title-wrap
        a(href="#").item__title Пицца Вегетарианская
      .item__footer
        .item__price 399р
        .item__get
          .icr-btn.item__btn купить
          .elements-icr-block.item__incr.hidden
            .incr
              .incr__minus.incr__nav
                +icon("minus","icon")
              .incr__val
                span 1
                .incr__val-coner
              .incr__plus.incr__nav
                +icon("plus","icon")


mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,disable)
  .check-el
    if disable
      label.style-label.style-label--checkbox.style-label--disable
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
    else
      label.style-label.style-label--checkbox
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
mixin radio(text,group,disable)
  .check-el
    if disable
      label.style-label.style-label--radio.style-label--disable
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text
    else
      label.style-label.style-label--radio
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text

mixin incr(a)
  - a = a || 1
  .elements-icr-block
    .incr
      .incr__minus.incr__nav
        +icon("minus","icon")
      .incr__val
        span=a
        .incr__val-coner
      .incr__plus.incr__nav
        +icon("plus","icon")
